.home-title {
  color: orange;
  font-size: 30px;
  font-weight: bold;
}

.navbar-home {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;

  .navbar-access {
    display: flex;
    width: 30%;
    .form-control, .btn-primary {
      margin: 10px 5px;
    }
  }
}

.container-results {
  .panel-main {
    padding: 20px 50px;
  }
  .row-labels {
    padding: 0 15px;
  }
  .row-results {
    &:hover {
      background: lightblue;
    }
    padding: 15px;
    border: 1px solid lightgray;
    border-bottom: 0;
    &.first {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 0;
    }
    &.last {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px solid lightgray;
    }
  }
  .collapse {
    background: lightgray;
    padding: 10px 20px 20px;
  }
}